body{
   font-family: Verdana, "Arial Narrow", sans-serif;
}

h1{
   text-align : justify;
   font-size: 30;
   line-height: 14 pt;
   color : black;
}

h2{
   text-align : justify;
   font-size :20 pt;
   line-height: 14pt;
   color : black;
}

h3{
   text-align : justify;
   font-size: 15 pt;
   line-height: 14 pt;
   color : black;
}

p{
   text-align : justify;
   font-size: 10 pt;
   line-height: 14 pt;
   color : black;
}

table, th, td {
   text-align : justify;
   font-size: 10 pt;
   line-height: 14pt; 
   color : black;
   border: solid black 1 px;
   border-collapse: collapse;
   padding: 15 px;
}



.center {
   text-align: center;
}

img{
	border-color : black; 
	border-width : medium;
	border-style : solid;
	padding : 5 % ;
	margin : 2 % ;
}



